<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>health Tracker</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="todo">
    <input class="search" type="text" name="" value="" placeholder="enter your food name">
    <ul id="fooList">

    </ul>
  </div>
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="edit" placeholder="<%= title %>">
    </div>
  </script>
  <!-- <script type="text/template" id="item-template">
    <div class="view">
      <input class="edit" placeholder="<%= title %>">
    </div>
  </script> -->
  <script src="libs/jquery.min.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/backbone.js"></script>
  <script defer src="js/models/todo.js"></script>
  <!-- <script defer src="js/views/todo-view.js"></script> -->
  <script defer src="js/collections/foodList.js"></script>
  <script defer src="js/views/app-view.js"></script>
  <script defer src="js/app.js"></script>
</body>
</html>
